.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.thumbnail {
  max-width: 150px;
  height: auto;
}

.fullImage {
  max-width: 60vw;
  height: auto;
}

.link {
  padding: 0px 20px;
  border: solid;
  border-width: 1px;
  border-color: black;
  background-color: #afafaf;
}

nav {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 70vw;
}

.profile-content, .article-content {
  margin: 10px 10px;
  width: 70vw;
  max-width: 70vw;
  border: solid;
  border-width: 3px;
  border-color: #a8d6ff;
  background-color: #afafaf;
  border-radius: 20px;

}

.title {
  color: white;
}

body {
  background-color: rgb(48, 48, 48);
  /* font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif; */
  /* font-family: 'Tangerine', serif; */
}